<div
    class="border border-slate-50 rounded-2xl bg-slate-50 p-4 mt-12 flex flex-col items-center relative"
>
    <div
        class="title h-[12rem] bg-slate-500 text-white p-4 absolute top-[-1rem] left-[-1rem] right-20 shadow-xl shadow-slate-800 flex flex-col justify-between"
    >
        <h3>
            <strong>
                {{ data.newsTitle }}
            </strong>
        </h3>
        <span class="text-slate-300">{{ data.newsCategory.categoryName }}</span>
    </div>
    <img
        src="{{ data.newsImageUrl }}"
        class="w-[300px] h-[200px] object-cover rounded-sm mt-36"
    />
    <h5>Utworzono: {{ data.createdAt | date : 'dd/MM/yyr.' }}</h5>
    <p class="h-[4rem]">{{ data.newsDescription | slice : 0 : 60 }}(...)</p>
    <button
        class="block px-2 py-1 border border-transparent bg-slate-400 hover:bg-slate-200 hover:border-gray-700 hover:border rounded-md min-w-[100px]"
    >
        Czytaj dalej
    </button>
</div>
