/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600;700&family=Raleway&display=swap');

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Arimo, 'Helvetica Neue', sans-serif;
}
