/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0 auto;
  max-width: 1920px;
}
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.card {
  border: 1px rgba(255, 255, 255, 0.1) solid;
  border-radius: 0.4rem;
  padding: 1rem;
  background: linear-gradient(160deg, rgba(173, 225, 255, 0.185), transparent);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.mat-icon.mat-accent {
  color: white;
}
