<mat-card>
    <mat-card-header>
        <h2>Lista kategorii</h2>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item
                *ngFor="let category of categoryListArray"
                style="height: 3rem"
            >
                <div class="flex items-center justify-between align-middle">
                    <div
                        *ngIf="
                            selectedCategory?._id !== category._id;
                            else editCategoryName
                        "
                    >
                        {{ category.categoryName }}
                    </div>
                    <ng-template #editCategoryName>
                        <mat-form-field subscriptSizing="dynamic">
                            <input
                                matInput
                                [(ngModel)]="selectedCategory.categoryName"
                            />
                        </mat-form-field>
                    </ng-template>
                    <div>
                        <button
                            mat-icon-button
                            (click)="handleUpdateCategory(category)"
                            *ngIf="
                                selectedCategory?._id !== category._id;
                                else editCategoryNameButton
                            "
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                        <ng-template #editCategoryNameButton>
                            <button
                                mat-icon-button
                                (click)="submitUpdatedCategory()"
                            >
                                <mat-icon>check</mat-icon>
                            </button>
                            <button
                                mat-icon-button
                                (click)="cancelUpdatedCategory()"
                            >
                                <mat-icon>close</mat-icon>
                            </button>
                        </ng-template>
                        <button
                            mat-icon-button
                            color="warn"
                            (click)="handleDeleteCategory(category._id)"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
