<div class="flex flex-col items-center">
    <h2>Formularz konfiguracji</h2>
    <p>Proszę podać dane administratora witryny</p>
    <form [formGroup]="configurationForm" (ngSubmit)="handleRegister()" class="flex flex-col items-center my-4">
        <mat-form-field>
            <mat-label>Nazwa użytkownika</mat-label>
            <input matInput formControlName="userName" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="userEmail" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Hasło</mat-label>
            <input matInput formControlName="userPassword" />
        </mat-form-field>
        <button mat-raised-button type="submit" color="warn">Zapisz konfigurację</button>
    </form>
    <div class="flex flex-col align-middle">
        <p>Jeśli masz już konto, zaloguj się:</p>
        <button mat-raised-button color="alert"><a href="/login">Formularz logowania</a></button>
    </div>
</div>
