<mat-sidenav-container class="min-h-[80dvh]">
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a
                mat-list-item
                *ngFor="let item of menuItems"
                [routerLink]="item.link"
            >
                {{ item.title }}
            </a>    
        </mat-nav-list>
        <div class="mt-10">
            <mat-nav-list >
                <a mat-list-item (click)="handleLogout()">
                    <strong>Wyloguj się</strong> 
                </a>    
            </mat-nav-list>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="p-2"><router-outlet></router-outlet></div>
    </mat-sidenav-content>
</mat-sidenav-container>
