<div class="flex">
  <section
    class="w-1/5 border border-slate-600 border-l-0 rounded-l-none rounded-lg mr-1 my-2"
  >
    <ul class="flex flex-col">
      <li
        *ngFor="let item of menuItems"
        [routerLink]="item.link"
        class="text-white hover:bg-slate-400 hover:cursor-pointer hover:text-slate-800 first-of-type:hover:rounded-t-lg p-4 items-center transition-all justify-center"
      >
        <a>{{ item.title }}</a>
      </li>
    </ul>
    <div class="mt-10">
      <ul>
        <li
          class="text-white hover:bg-slate-400 hover:cursor-pointer hover:text-slate-800 p-4 items-center transition-all justify-center"
        >
          <a (click)="handleLogout()"> Wyloguj się </a>
        </li>
      </ul>
    </div>
  </section>
  <main class="w-4/5 p-4 rounded-lg mx-1 my-2 min-h-[80dvh]">
    <router-outlet></router-outlet>
  </main>
</div>
