<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>+ Dodaj news</mat-panel-title>
    </mat-expansion-panel-header>
    <form
        class="flex flex-col my-4"
        [formGroup]="addNewsForm"
        (ngSubmit)="handleAddNews()"
    >
        <mat-form-field>
            <mat-label>Wybierz kategorię:</mat-label>
            <mat-select formControlName="newsCategory">
                <mat-option
                    *ngFor="let category of newsCategories"
                    [value]="category"
                >
                    {{ category.categoryName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Tytuł</mat-label>
            <input matInput formControlName="newsTitle" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Opis</mat-label>
            <input matInput formControlName="newsDescription" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Treść</mat-label>
            <textarea matInput formControlName="newsContent"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Link do obrazka</mat-label>
            <input matInput formControlName="newsImageUrl" />
        </mat-form-field>
        <button mat-raised-button type="submit" color="warn">+ Dodaj</button>
    </form>
</mat-expansion-panel>
