<div class="flex flex-col gap-4">
    <mat-card>
        <mat-card-header class="mb-8"
            ><mat-card-title>Dodaj obrazek</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <app-upload></app-upload>
        </mat-card-content>

        <mat-card-footer class="p-4">
            <span>Maksymalny rozmiar obrazka to 2MB</span>
        </mat-card-footer>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Wszystkie media</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-media-list></app-media-list>
        </mat-card-content>
    </mat-card>
</div>
